:root {
  --blue: #2196f3;
  --white: #ffffff;
  --black: #212121;
  --light-black: #757575;
  --grey: #2f303a;
  --secondary-font: 'Raleway' sans-serif;
  --main-font: 'Roboto' sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--main-font);
}

.button-request {
  background-color: var(--blue);
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.button-request:hover {
  color: green;
  background-color: #ffffff;
}

.button-request:focus {
  color: green;
  background-color: #ffffff;
}

.top-page .container {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-page:hover {
  color: var(--blue);
}
.top-page:focus {
  color: var(--blue);
}

.mail {
  color: var(--light-black);
  width: 135px;
  height: 16px;
  top: 32px;
  left: 1097px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail:hover {
  color: var(--blue);
}
.mail:focus {
  color: var(--blue);
}

.tel {
  color: var(--light-black);
  font-family: Roboto;
  justify-content: space-between;
}

.tel:hover {
  color: var(--blue);
}
.tel:focus {
  color: var(--blue);
}

.bk1 {
  background-color: var(--grey);
  width: 1600px;
  height: 600px;
  top: 80px;

  align-items: center;
}

.ttl {
  color: var(--white);
  width: 696px;
  height: 120px;
  top: 280px;
  left: 452px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
}

.ftr {
  background-color: var(--grey);
  width: 1600px;
  height: 251px;
  top: 2097px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.adrs {
  color: var(--white);
}

.info {
  color: var(--light-black);
}

.what-we-do {
  width: 1170px;
  height: 386px;
  top: 969px;
  left: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.title1 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.image1 {
  width: 370px;
  height: 294px;
  top: 1061px;
  left: 215px;
  gap: 0px;
  opacity: 0px;
  display: flex;
}

.image2 {
  width: 370px;
  height: 294px;
  top: 1061px;
  left: 615px;
  gap: 0px;
  opacity: 0px;
  display: flex;
}

.image3 {
  width: 370px;
  height: 294px;
  top: 1061px;
  left: 1015px;
  gap: 0px;
  opacity: 0px;
  display: flex;
}

.our-team {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
  top: 1449px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.title2 {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.webstudio {
  color: var(--blue);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  justify-content: center;
}
.studio {
  color: var(--black);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
}
.studioo {
  color: var(--white);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
}
.info:hover {
  color: var(--blue);
}
.info:focus {
  color: var(--blue);
}
.info {
  width: 231px;
  height: 16px;
  top: 2244px;
  left: 215px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}
.infoo {
  width: 231px;
  height: 16px;
  top: 2272px;
  left: 215px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--light-black);
}
.infoo:hover {
  color: var(--blue);
}
.infoo:focus {
  color: var(--blue);
}
.imagee {
  width: 270px;
  height: 260px;
  top: 1635px;
  left: 215px;
  gap: 0px;
  opacity: 0px;
  display: flex;
}

.all {
  background: #f5f4fa;
  color: var(--black);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.all:hover {
  color: var(--white);
  background-color: var(--blue);
}
.ltm {
  width: 370px;
  border: 1px solid #eeeeee;
  display: flex;
}
.stodio {
  color: var(--white);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
}

.container {
  width: 1200px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hdr .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation ul {
  display: flex;
  gap: 40px;
}
.hdr {
  border: 1px solid #ececec;
}
